.paperElement {
  height: 300px;
  width: 250px;
  margin: 10px;
}

.paperElement:hover {
  transform: scale(1.1)
}

.moviePoster {
  margin-top: 12px;
}

.grid {
margin-left: 100px;
}

body {
  margin: 0px;
  background-color: lightgrey;
  /* background-image: linear-gradient(red, #ff5454, lightgrey) */
}