.paperElement {
  height: 300px;
  width: 250px;
  margin: 10px;
}

.paperElement:hover {
  transform: scale(1.1)
}

.moviePoster {
  margin-top: 12px;
}

.grid {
margin-left: 100px;
}

body {
  margin: 0px;
}


.homeTitle {
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid red;
}